

body{
  background-color: #BB99AA;
  margin:0;
}

#wrapperDiv{
  background-color: #003129;
  height: 900px;
  width: 900px;
  border: solid black 1px;
  margin:auto;
}

#cnv{
  background-color: #BAD187;
  height: 800px;
  width: 800px;
  border: solid black 1px;
}

#buttonDiv{
  background-color: #EF981A;
  height: 800px;
  width: 100px;
  float:right;
}

#sliderDiv{
  background-color: #0185D1;
  height: 100px;
  width: 900px;
  float:
}
